/*
 * Always set the map height explicitly to define the size of the div element
 * that contains the map.
 */

#map {
  height: 100vh;
}

#floating-panel {
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: "Roboto", "sans-serif";
  line-height: 30px;
  padding-left: 10px;
}

#floating-panel {
  background-color: #fff;
  border: 1px solid #999;
  left: 25%;
  padding: 5px;
  position: absolute;
  top: 10px;
  z-index: 5;
}

.foodbank-icon {
  background-color: #4285F4;
  border-radius: 8px;
  color: #FFFFFF;
  font-size: 24px;
  padding: 10px 15px;
  position: relative;
}

.message-box {
  background-color: #4285F4;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 20px;
  margin-top: 10px;
  font-family: sans-serif;
  font-weight: bold;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  color: white;
}
